body {
background-color: black;
    text-align: center;
    
  }
  .main {
    background-image: url(static_new.gif);
    background-repeat: repeat;
    margin-top: 200px;
    color: #96c192;
    font-size: 13px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  img {
    opacity: 0.8;
  }
  